<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>        
        <!--property name="hibernate.connection.url">jdbc:mysql://db-mysql-sgp1-39273-do-user-7062154-0.db.ondigitalocean.com:25060/thinkrdb?autoReconnect=true&amp;useSSL=true&amp;serverSslCert=classpath:/ca-certificate.crt&amp;serverTimezone=Asia/Kuala_Lumpur&amp;useLegacyDatetimeCode=false</property-->
        
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">admin</property>
        
        <property name="hibernate.default_schema">project</property>
        <property name="hibernate.default_catalog">project</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    </session-factory>
</hibernate-configuration>

